.app.card(flex-container='column', flex-align='space-between center')
    h1.fs-display-3.display-block
        | “A Jedi uses the Force for knowledge and defense, never for attack.”

    .tc-white-1(class='mt++', flex-container='row', flex-align='space-between center')
        button.btn.btn--m.btn--blue.btn--raised(lx-ripple, ng-click='vm.showYodaPhoto("yoda-dialog")') Open Popup
        button.btn.btn--m.btn--green.btn--raised(lx-ripple, ui-sref='app.usefulLinks') Useful Links

lx-dialog#yoda-dialog.dialog.dialog--l(auto-close='true', onclose='vm.hideYodaPhoto()')
    .dialog__header

    .dialog__content

    .dialog__actions
        button.btn.btn--m.btn--black.btn--flat(lx-ripple, lx-dialog-close) Cancel
        button.btn.btn--m.btn--black.btn--flat(lx-ripple) I love Yoda

.viewport(ui-view='')