.card
    lx-tabs
        lx-tab.useful-link-tab(heading='{{link.heading}}', ng-repeat='link in vm.usefulLinks track by $index')
            a(class='p+', ng-href='{{::link.url}}', ng-bind='::link.url')
            .img(ng-class='link.img')