h1{
	padding: 20px;
	font-size: 6rem;
	text-align: center;
	text-transform: uppercase;
	color: #009688;
	text-shadow: 2px 2px 10px orange;
}

#yoda-dialog{
	width: 500px;
	height: 500px;
	background: url('../media/images/yoda.jpg') center no-repeat;
	background-size: 100%;
}