doctype html
|<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
|<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
|<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
html(lang="en").no-js
  head
    include meta.jade
    title {%=o.htmlWebpackPlugin.options.title || 'Webpack App'%}
    |{% for (var css in o.htmlWebpackPlugin.files.css) { %}
    link(href='{%=o.htmlWebpackPlugin.files.css[css] %}', rel='stylesheet')
    |{% } %}
  body(ng-cloak, ui-view='')
    |<!--[if lt IE 7]>
    |<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    |<![endif]-->
        
    |{% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    script(src='{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}')
    |{% } %}
