// Compatability
meta(http-equiv="Content-Type",    content="text/html; charset=UTF-8")
meta(http-equiv='X-UA-Compatible', content='IE=edge')

// Caching
meta(http-equiv="cache-control", content="max-age=0" )
meta(http-equiv="cache-control", content="no-cache" )
meta(http-equiv="expires",       content="0")
meta(http-equiv="expires",       content="Tue, 01 Jan 1980 1:00:00 GMT" )
meta(http-equiv="pragma",        content="no-cache" )

// Appearance
// tablets config meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
meta(name="apple-mobile-web-app-capable", 			   content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.9, user-scalable=yes")
