%img{

}

.useful-link-tab{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  a{
    font-size: 23px;
    text-decoration: none;
    color: #0c44b8;
  }

  .lumx-logo{
    background-image: url('../images/lumx-logo.png');
  }

  .npm-logo{
    background-image: url('../images/npm-logo.svg');
  }

  .jade-logo{
    background-image: url('../images/jade-logo.png');
  }

  .img{
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}